span.caption {
  font-size: 0.8em;
  font-weight: 600;
}

span.caption code {
  font-size: 0.875em;
  font-weight: 400;
}

.language-toggle {
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1;
  min-width: 2.8em;
  text-align: center;
  text-decoration: none;
}
